# Путь к файлу с береговой линией Natural Earth (будет скачан автоматически)
COASTLINE_URL=https://raw.githubusercontent.com/martinjc/UK-GeoJSON/master/json/admin/gb/wpc.json
# Для реальных данных достаточно заглушки, но мы будем использовать встроенный датасет

# Параметры генерации
MIN_LAT=42.5
MAX_LAT=66.1
MIN_LON=130.6
MAX_LON=169.0  # восточная долгота положительная, но у нас остров Ратманова 169°04' з.д. = -169.0667
# Упростим: регион Дальний Восток lat 42..66, lon 130.. -169? Сложно, сделаем от 130 до 180 и от -180 до -169.
# Для простоты прототипа используем диапазон lon 130..180 (восточная часть) и -180..-169 (западная). Но в синтетике будем генерировать в двух зонах.
# Упростим: вся акватория от 130 до 190? Нет, проще: lat 42..66, lon 130..190 (с переходом через 180).
# В коде генератора учтём.